@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "handWriteFont";
  src: url("../font/dartsfont.eot"); /* IE9 Compat Modes */
  src: url("../font/dartsfont.eot?#iefix") format("embedded-opentype"), url("../font/dartsfont.woff2") format("woff2"), url("../font/dartsfont.woff") format("woff"), url("../font/dartsfont.ttf") format("truetype");
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}

.d-flex {
  display: flex;
}

.mt-60 {
  margin-top: 60px;
}

.mt-300 {
  margin-top: 300px;
}

.mb-300 {
  margin-bottom: 300px;
}

.gap-40 {
  gap: 40px;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes caret {
  50% {
    border-color: transparent;
  }
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
.show {
  opacity: 1;
}

.borderBlur {
  box-shadow: 0 0 40px 40px black inset;
  overflow: hidden;
}

.chat {
  position: absolute;
  color: black;
  background-color: white;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 20px;
  font-size: 24px;
}
.chat::after {
  border-color: white white transparent transparent;
  border-style: solid;
  /* 設定邊框大小可拼湊出任意形狀的三角形 */
  border-width: 13px 13px;
  bottom: -20px;
  /* 必須指定，才能顯示內容 */
  content: "";
  height: 0px;
  /* 必須指定，否則會變梯形 */
  position: absolute;
  right: 30px;
  width: 0px;
}
.chat-gray {
  color: white;
  background-color: gray;
}
.chat-gray::after {
  border-color: gray gray transparent transparent;
}

.cctv::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
.cctv::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-animation: flicker 0.15s infinite;
          animation: flicker 0.15s infinite;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #020202;
}

img {
  display: block;
  max-width: 100%;
}

section {
  min-height: 100vh;
}

.footer {
  padding: 12px;
  text-align: center;
  color: #666;
}

.settings {
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-size: 24px;
  z-index: 999;
  color: gray;
}

.coming_soon {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  font-family: handWriteFont, serif;
  color: white;
}

.scene_opening {
  min-height: 100vh;
  background-color: black;
}

.opening_hint {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/opening_background.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.opening_hint::before {
  content: "";
  position: absolute;
  z-index: 9;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  left: calc(var(--x) * 100%);
  top: calc(var(--y) * 100%);
  transform: translate(-50%, -50%); /*預設居中*/
  box-shadow: 0 0 0 999vw rgba(0, 0, 0, 0.8); /*足夠大的投影*/
}
.opening_hint a {
  display: block;
  position: absolute;
  bottom: 20%;
  top: auto !important;
  left: auto !important;
  color: white;
  font-size: 24px;
  text-decoration: none;
}
.opening_hint p {
  color: white;
  font-size: 24px;
}

.opening_start {
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.opening_start_video {
  height: 80vh;
}

.scene_1 {
  position: relative;
}
.scene_1_1 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.scene_1_1 p {
  font-size: 72px;
  font-family: handWriteFont, serif;
  color: white;
  width: 11em;
  border-right: 0.05em solid;
  overflow: hidden;
  white-space: nowrap;
}
.scene_1_1 p.action {
  -webkit-animation: typing 5s steps(11), caret 1s steps(1) infinite;
          animation: typing 5s steps(11), caret 1s steps(1) infinite;
}
.scene_1_2 {
  position: relative;
  height: 70vh;
  border-radius: 30%;
}
.scene_1_2 img {
  position: absolute;
  z-index: -9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.scene_1_2 img:not(:first-child) {
  opacity: 0;
}
.scene_1_3 {
  width: 700px;
  height: 500px;
  margin: 200px auto 200px;
  background-image: url("../img/img_1_3_1.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: none;
  position: relative;
}
.scene_1_3 p {
  display: block;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.scene_1_3 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.scene_2 {
  min-height: 100vh;
}

.img_2_1 {
  max-width: 80%;
  height: 600px;
  background-image: url(../img/img_2_1.png);
  background-position: right bottom;
  background-size: cover;
}

.img_2_1.switch {
  background-image: url(../img/img_2_1_2.png);
}

.img_2_2 {
  position: relative;
  width: calc(50% - 20px);
}
.img_2_2 p {
  left: 5%;
  top: -10%;
}
.img_2_2 p::after {
  border-color: gray transparent transparent gray;
  left: 20px;
}

.img_2_3 {
  position: relative;
  width: calc(50% - 20px);
}
.img_2_3 p {
  left: 5%;
  top: -10%;
}

.img_2_4 {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.section3 {
  min-height: 200vh;
}

.video {
  width: 100%;
  height: 100%;
}

.story_2 {
  position: relative;
}

.chat_2_4_1 {
  top: 5%;
  left: 20%;
  z-index: 99;
}

.img_2_4_1 {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80%;
  opacity: 0;
}

.img_2_4_23 {
  position: fixed;
  top: 300px;
  right: 40%;
  width: 50%;
}/*# sourceMappingURL=all.css.map */