/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "handWriteFont";
  src: url("../font/dartsfont.eot"); /* IE9 Compat Modes */
  src: url("../font/dartsfont.eot?#iefix") format("embedded-opentype"), url("../font/dartsfont.woff2") format("woff2"), url("../font/dartsfont.woff") format("woff"), url("../font/dartsfont.ttf") format("truetype");
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #020202;
}

img {
  display: block;
}

section {
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

.d-flex {
  display: flex;
}

.mt-60 {
  margin-top: 60px;
}

.mt-300 {
  margin-top: 300px;
}

.mb-300 {
  margin-bottom: 300px;
}

.gap-40 {
  gap: 40px;
}

.scene_opening {
  min-height: 100vh;
}

.opening_hint {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/opening_background.png);
  background-position: center;
  background-size: cover;
}
.opening_hint a {
  color: white;
  font-size: 24px;
}

.opening_start {
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.opening_start_video {
  height: 80vh;
}

.scene_1_1 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scene_1_1 p {
  font-size: 72px;
  font-family: handWriteFont, serif;
  color: white;
}

.story {
  width: 100%;
  min-height: 100vh;
}

.img-2-1 {
  max-width: 80%;
  height: 600px;
  background-image: url(../img/img-2-1.png);
  background-position: right bottom;
  background-size: cover;
}

.img-2-1.switch {
  background-image: url(../img/img-2-1-2.png);
}

.img-2-2 {
  width: calc(50% - 20px);
}

.img-2-3 {
  width: calc(50% - 20px);
}

.img-2-4 {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.section3 {
  min-height: 200vh;
}

.video {
  width: 100%;
  height: 100%;
}

.story-2 {
  position: relative;
}

.img-2-4-1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80%;
  opacity: 0;
  transition: 1s all;
}

.img-2-4-23 {
  position: fixed;
  top: 300px;
  right: 40%;
  width: 50%;
}

.show {
  opacity: 1;
}

.footer {
  padding: 12px;
  text-align: center;
  color: #666;
}/*# sourceMappingURL=all.css.map */