@import "reset";
@import "font";
@import "utilities";
@import "base";
@import "page/opening";
@import "page/scene_1";
@import "page/scene_2";

.footer{
  padding: 12px;
  text-align: center;
  color: #666;
}